@{
  Layout = "_Layout";
}

@model BakeryTreats.Models.Treat

<h4>Add a flavor to Treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

  <div class="form-group">
    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId", null, " -- Select Flavor --", new {@class = "form-control" })
  </div>

  <button type="submit" class="btn btn-success">Add Flavor</button>
}
<p>@Html.ActionLink("Back to list", "Index")</p>