@{ Layout = "_Layout"; }

@using BakeryTreats.Models;

<h1>Pierre's Sweet and Savory Treats</h1>

  <hr>
    <h4>Treats</h4>
    @if (Model["treats"].Length == 0)
    {
      <p>No treats have been added yet</p>
    }
    <ul>
      @foreach (Treat treats in Model["treats"])
      {
        <li>@Html.ActionLink(@treats.Name, "Details", "Treats", new { id = @treats.TreatId})</li>
      }
    </ul>

    <h4>Flavors</h4>
    @if (Model["flavors"].Length == 0)
    {
      <p>No flavors have been added yet</p>
    }
    <ul>
      @foreach (Flavor flavor in Model["flavors"])
      {
        <li>@Html.ActionLink(@flavor.FlavorName, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
      }
    
    </ul> 
    <hr>
    
    <p>@Html.ActionLink("Manage all Treats", "Index", "Treats") |
    @Html.ActionLink("Manage all Flavors", "Index", "Flavors")</p>